// FONTS
$mont: 'Montserrat', sans-serif;
$robot: 'Roboto', sans-serif;
$robotThin: 'Roboto Condensed', sans-serif;
$open: 'Open Sans', sans-serif;
$rale: 'Raleway', sans-serif;

// COLORS
$white: rgb(255, 255, 255);
$lightGrey: rgb(238, 238, 238);
$mediumGrey: rgb(188, 188, 188);
$darkGrey: rgb(63, 65, 76) ;
