$mont: 'Montserrat', sans-serif;
$robot: 'Roboto', sans-serif;
$robotThin: 'Roboto Condensed', sans-serif;
$open: 'Open Sans', sans-serif;
$rale: 'Raleway', sans-serif;
.hero-container {
  overflow: hidden;
  width: 100%;
  height: 85vh;
  background-image: url("../../public/assets/images/home_page_slideshow_1_mobile.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  font-family: $mont;
  display: table;
  clear: both;
  position: relative;
  z-index: 0;
}
.hero-parent {
  width: 100%;
  display: table-cell;
  vertical-align: middle;
  // -webkit-box-align: center;
  // align-items: center;
  // display: flex;
  // flex-wrap: wrap;
}
.mobile-hero-image {
  padding: 5%;
}
.slide-one-title {
  font-size: 2.5em;
  line-height: 1;
  letter-spacing: 2.4px;
  text-align: center;
}
.slide-one-subtitle {
  font-size: 1.5em;
  font-weight: 300;
  line-height: 1.2;
  text-align: center;
  font-family: $rale;
  font-weight: 100;
}
.slide-one-text {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 1px;
  margin: 0 0 15px 0;
  text-align: center;
  font-family: $rale;
  font-weight: 100;
  display: flex;
  flex-direction: column;
}
.slide-one-shop_now {
  width: 100%;
  margin-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: center;
}
.slide-one-shop_now-inner {
  font-size: 0.75em;
  padding-bottom: 7px;
  width: 70px;
  border-bottom: 1px solid white;
}
.hero-down_arrow {
  width: 100%;
  position: absolute;
  bottom: 25px;
  display: flex;
  justify-content: center;
}
.get-20-container {
  position: fixed;
  bottom: 7px;
  left: 7px;
  background-color: #3f414c;
  font-size: 18px;
  font-family: $open;
  font-weight: 600;
  color: white;
  padding: 13px 25px;
  z-index: 0;
}

@media (min-width: 480px){

}
@media (min-width: 769px){

}
