// ** FONTS **
$mont: 'Montserrat', sans-serif;
  // Montserrat:400,700
$robot: 'Roboto', sans-serif;
  // Roboto:500i,700i
$robotThin: 'Roboto Condensed', sans-serif;
  // Roboto+Condensed:300,400,400i,700i
$open: 'Open Sans', sans-serif;
  // Open+Sans:300,300i,400,400i,600,600i
$rale: 'Raleway', sans-serif;
  // Raleway:100,100i,200,200i,300,300i,400,400i,500

// ** COLORS **
$white: rgb(255, 255, 255);
$lightGrey: rgb(238, 238, 238);
$mediumGrey: rgb(188, 188, 188);
$darkGrey: rgb(63, 65, 76) ;
