@import 'home.variables';

* {
  min-height: 0;
  min-width: 0;
}
.top-picks-container {
  width: 320px;
}
.top-picks-title {
  color: $darkGrey;
  font-family: $robotThin;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  margin-top: 25px;
}
.slider {
  width: 20px;
  height: 74vh;
}
.slider img {
  width: 40px;
}
.slide-title {
  font-family: $rale;
  font-weight: 100;
  font-size: 20px;
  color: $mediumGrey;
}
.slide-subtitle {
  font-family: $robotThin;
  color: $mediumGrey;
  font-size: 14px;
  font-style: italic;
}
